:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fire {
  background-image: url('https://p1.hiclipart.com/preview/189/583/577/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.grass {
  background-image: url('https://p1.hiclipart.com/preview/717/244/1019/blanks-classic-cards-pokemon-trading-card-illustration-png-clipart-thumbnail.jpg');
}

.water {
  background-image: url('https://p1.hiclipart.com/preview/292/997/229/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.bug {
  background-image: url('https://p1.hiclipart.com/preview/717/244/1019/blanks-classic-cards-pokemon-trading-card-illustration-png-clipart-thumbnail.jpg');
}

.normal {
  background-image: url('https://p1.hiclipart.com/preview/190/630/494/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.poison {
  background-image: url('https://p1.hiclipart.com/preview/717/244/1019/blanks-classic-cards-pokemon-trading-card-illustration-png-clipart-thumbnail.jpg');
}

.electric{
  background-image: url('https://p1.hiclipart.com/preview/805/502/518/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.ground {
  background-image: url('https://p1.hiclipart.com/preview/997/786/324/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.fairy {
  background-image: url('https://p1.hiclipart.com/preview/190/630/494/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.fighting {
  background-image: url('https://p1.hiclipart.com/preview/997/786/324/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.psychic {
  background-image: url('https://p1.hiclipart.com/preview/871/971/640/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.rock {
  background-image: url('https://p1.hiclipart.com/preview/997/786/324/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.ghost {
  background-image: url('https://p1.hiclipart.com/preview/871/971/640/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.ice {
  background-image: url('https://p1.hiclipart.com/preview/292/997/229/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}

.dragon {
  background-image: url('https://p1.hiclipart.com/preview/190/630/494/blanks-classic-cards-pokemon-trading-card-png-clipart-thumbnail.jpg');
}