:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(to right, #099765 0%, #199268d2 20%, rgb(0, 255, 195) 40%);
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-left: 135px
}

.pokemon-container{
  background-color:rgb(14, 122, 97);
}

.white-text{
  color: white;
}